body {
  font-family: Arial, sans-serif;
  margin: 10;
  padding: 0;
  background: linear-gradient(to bottom, #f0e68c, #90ee90);
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  display: inline;
}

h1 {
  font-size: 0.9em;
  letter-spacing: 0.2em;
  font-style: italic;
  a {
    text-decoration: none;
    color: black;
  }
}

#layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

table {
  border: 1px solid #ccc;
  padding: 2px;
  min-width: 350px;
}

#schedule {
  table {
    thead {
      th {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-size: 1.3em;
      }
    }
    tbody {
      th {
        text-align: left;
        font-size: 0.9em;
      }
      tr:nth-child(odd) {
        background-color: #f0f0f0;
      }
      td {
        padding: 4px;
      }
    }
  }
  .record {
    font-size: 0.8em;
  }
  .win {
    color: green;
    font-style: italic;
    font-weight: bold;
  }
  .loss {
    color: red;
    font-style: italic;
  }
}

.stats {
  table {
    font-family: "Courier New", Courier, monospace;
    th,
    td {
      padding: 4px;
      text-align: center;
    }
    tbody {
      th {
        text-align: left;
      }
      tr:nth-child(odd) {
        background-color: #f0f0f0;
      }
    }
  }
}

#team-stats,
#player-stats,
#rosters {
  font-size: 0.85em;
}

#rosters {
  display: flex;
  h3 {
    margin-right: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding-right: 20px;
  }
  .brink {
    font-style: italic;
  }
}

#footer {
  margin-top: 5px;
  border-top: 1px solid #ccc;
  padding: 5px 0;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline;
    padding-right: 10px;
  }
}

#login {
  font-size: 0.8em;
  color: #333;
}
