body {
  font-family: Arial, sans-serif;
  margin: 10;
  padding: 0;
  background: linear-gradient(to bottom, #f0e68c, #90ee90);
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  display: inline;
}

h1 {
  font-size: 1.5em;
  display: none;
}

h3 {
  font-size: 0.95em;
}

#layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#layout th:first-child {
  text-align: left;
}

#schedule td {
  padding: 2px;
}

#schedule thead th {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3em;
}
#schedule thead tr {
  background-color: inherit !important;
}

#schedule table tr:nth-child(odd) {
  background-color: #f0f0f0;
}

#schedule th:first-child {
  font-weight: normal;
  font-size: 0.9em;
}

.record {
  font-size: 0.8em;
}
.win {
  color: green;
  font-style: italic;
  font-weight: bold;
}
.loss {
  color: red;
  font-style: italic;
}

#total-points {
  font-size: 0.85em;
}
#total-points ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#total-points li {
  margin-right: 15px;
}

#players {
  font-size: 0.85em;
}
#players ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#players li {
  margin-right: 15px;
}

#rosters {
  display: flex;
  font-size: 0.85em;
}
#rosters ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#rosters li {
  margin-right: 15px;
}

#footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding: 5px 0;
}
#footer > div {
  font-size: 0.8em;
}
#footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#footer li a {
  margin-right: 15px;
  > span {
    font-size: 0.8em;
  }
}
