body {
  font-family: Arial, sans-serif;
  margin: 10;
  padding: 0;
  background: linear-gradient(to bottom, #f0e68c, #90ee90);
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  display: none;
  font-size: 1em;
  letter-spacing: 0.2em;
  font-style: italic;
  font-weight: bolder;
  a {
    text-decoration: none;
    color: black;
  }
}
h2 {
  font-size: 1em;
  letter-spacing: 0.2em;
  font-weight: bolder;
  a {
    text-decoration: none;
    color: black;
  }
}
h3 {
  font-size: 1em;
  font-style: italic;
  font-weight: bolder;
}

#layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

table {
  border: 1px solid #ccc;
  padding: 2px;
  min-width: 350px;
  background-color: white;
}

.season {
  display: flex;
  flex-direction: column;
  h3 {
    margin-top: 10px;
  }
}

.schedule {
  table {
    border-spacing: 3px;
    thead {
      th {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-size: 1.3em;
      }
    }
    tbody {
      th {
        text-align: left;
        font-size: 0.9em;
      }
      tr:nth-child(odd) {
        background-color: #f0f0f0;
      }
      td {
        padding: 4px;
        > span {
          font-style: italic;
          font-size: 0.8em;
          float: right;
        }
      }
    }
  }
}

.positive {
  color: green;
  font-weight: bold;
}
.negative {
  color: red;
}
.neutral {
  color: inherit;
}

.today {
  th,
  td {
    border: 1px solid #ccc;
  }
}
.past {
  th {
    font-weight: normal;
    font-style: italic;
  }
  td {
    strong {
      color: #333;
    }
  }
}
.future {
  background-color: inherit;
}

.stats {
  table {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    th,
    td {
      padding: 4px;
      text-align: center;
    }
    tbody {
      th {
        text-align: left;
        text-transform: uppercase;
      }
      tr:nth-child(odd) {
        background-color: #f0f0f0;
      }
    }
  }
}

.team-stats,
.player-stats,
.rosters {
  font-size: 0.85em;
}

.team-stats {
  thead {
    th:first-child {
      width: 10%;
    }
    th:last-child {
      width: 20%;
    }
  }
}

.rosters {
  display: flex;
  margin-top: 10px;
  h3 {
    margin-right: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding-right: 35px;
  }
  .brink {
    font-style: italic;
  }
}

#footer {
  margin-top: 5px;
  border-top: 1px solid #ccc;
  padding: 5px 0;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline;
    padding-right: 10px;
  }
  #login {
    font-size: 0.8em;
    color: #333;
  }
}
