body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 5px;
  background: linear-gradient(to bottom, #f0e68c, #90ee90);
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  display: none;
  font-size: 1em;
  letter-spacing: 0.2em;
  font-style: italic;
  font-weight: bolder;
  a {
    text-decoration: none;
    color: black;
  }
}
h2 {
  font-size: 1.3em;
  letter-spacing: 0.2em;
  font-weight: bolder;
  a {
    text-decoration: none;
    color: black;
  }
}
h3 {
  font-size: 1em;
  font-style: italic;
  font-weight: bolder;
}

#header {
  ul {
    margin: 0;
    padding: 0;
    display: inline;
  }
  li {
    display: inline;
    padding-right: 10px;
  }
}

#layout {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 350px;

  @media (max-width: 600px) {
    width: 100%;
  }
}

%panel {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
  background-color: white;
  width: 100%;
}

table {
  @extend %panel;
  user-select: none;
  border-spacing: 0;
  tbody {
    tr:nth-child(odd) {
      background-color: #f0f0f0;
    }
  }
}

.listpage {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding-top: 5px;
  }
}

.season {
  display: flex;
  flex-direction: column;
  h3 {
    margin-top: 10px;
  }
}

.schedule {
  table {
    thead {
      th {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-size: 1.3em;
        border: 1px solid white;
        border-radius: 5px 5px 0 0;
        .record {
          font-size: 0.8em;
          font-weight: normal;
        }
      }
    }
    tbody {
      th:first-child {
        font-family: "Courier New", Courier, monospace;
        font-weight: normal;
        font-style: normal;
        font-size: 0.8em;
        color: gray;
      }
      th {
        text-align: left;
        font-size: 0.9em;
        font-weight: normal;
      }
      td {
        padding: 4px;
        > span {
          font-style: italic;
          font-size: 0.8em;
          float: right;
        }
        .score {
          font-size: 0.75em;
        }
      }
    }
  }
}

.positive {
  color: green;
  font-weight: bold;
}
.negative {
  color: red;
}
.neutral {
  color: inherit;
}

.today {
  th,
  td {
    background-color: gold;
  }
}
.thisweek {
  th,
  td {
    background-color: silver;
  }
}
.past {
  opacity: 0.95;
  th {
    font-weight: normal;
    font-style: italic;
    opacity: 0.5;
  }
  td {
    strong {
      color: #333;
      font-weight: bold;
    }
  }
}
.future {
  th {
    font-weight: normal;
  }
  background-color: inherit;
}

.stats {
  table {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    th,
    td {
      padding: 4px;
      text-align: center;
    }
    tbody {
      th {
        text-align: left;
        text-transform: uppercase;
      }
    }
  }
}

.team-stats,
.player-stats,
.player-alltime-stats,
.rosters {
  font-size: 0.85em;
}

.team-stats {
  > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  thead {
    th:first-child {
      width: 10%;
    }
    th:last-child {
      width: 20%;
    }
  }
}

.player-stats,
.player-alltime-stats {
  a {
    text-decoration: none;
    color: darkblue;
  }
}

.rosters {
  display: flex;
  flex-direction: column;
  > div {
    @extend %panel;
    width: inherit;
    margin: auto;
    margin-left: 0;
    padding: 5px;
    background-color: white;
    display: flex;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    li {
      padding-right: 35px;
    }
    h4 {
      border-bottom: 1px solid #ccc;
    }
    .brink {
      font-style: italic;
    }
  }
}

.separator {
  border-top: 1px solid #ccc;
  margin: 30px 0;
  width: 350px;
}

#footer {
  margin-top: 5px;
  border-top: 1px solid #ccc;
  padding: 5px 0;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline;
    padding-right: 10px;
  }
  #login {
    font-size: 0.8em;
    color: #333;
  }
  .links {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
